.carousel-container {
	width: 100vw;
	min-width: 500px;
	height: 500px;
	margin: 40px auto;
}

.carousel-bg {
	position: relative;
	margin: auto;
	width: 100%;
	height: 100%;
	background-color: white;
	border: 1px solid #485f39;
}

.carousel-content-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.carousel-content {
	box-sizing: border-box;
	width: 80%;
	max-width: 850px;
	min-width: 450px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 30px auto;
}

.arrow-container {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 50px;
	height: 55px;
}

.left-arrow-container {
	left: 5%;
}

.right-arrow-container {
	right: 5%;
}

.carousel-arrow {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.carousel-arrow:hover {
	transform: scale(1.1);
	transition: 0.22s ease-in-out;
}

.carousel-header {
	margin-top: 20px;
}

.main-latest-post {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	width: 100%;
	padding: 10px;
	height: 240px;
	box-sizing: border-box;
	align-items: center;
	border-bottom: 1px solid black;
	margin: 15px auto;
}

.latest-index-text-container,
.latest-index-image-container {
	width: 50%;
	padding: 5px 20px;
	box-sizing: border-box;
}

.latest-index-text {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	max-height: 95px;
	line-height: 1.2em;
}

.index-post-header {
	font-weight: bold;
	font-size: 17px;
}

.latest-index-img {
	width: 100%;
	height: 100%;
	max-height: 200px;
	object-fit: cover;
	border-radius: 55px;
}

.previous-post-container {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px;
	box-sizing: border-box;
	width: 100%;
	align-items: center;
}

.previous-post-header {
	padding: 5px;
}

.carousel-img-container {
	width: calc(31% - 6px);
	margin: 0 10px;
}

.carousel-img {
	width: 100%;
	height: 115px;
	object-fit: cover;
	border-radius: 5px;
	border-style: groove;
	box-shadow: 5px 5px 7px 0px #0000007d;
}

.carousel-img:hover {
	transform: scale(1.1);
	transition: 0.23s ease-in-out;
	cursor: pointer;
}
