footer {
    overflow: hidden;
    background: white;
    height: 90px;
    border: 1px solid #1f761f;
}

.footer-ul {
    display: flex;
    margin: 20px auto;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.footer-text-container {
    text-align: center;
}

.footer-icon-container {
    width: 25px;
}

.footer-icon {
    width: 100%;
}
