/*INDEX*/

.page-header-container {
	text-align: center;
	margin: 20px auto;
}

.page-text-container {
	text-align: center;
	margin: auto;
}

.welcome-wrapper {
	background-color: #f29e48;
	margin: 0;
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	border-bottom: 1px solid green;
}

.welcome-img-container {
	width: 35%;
	height: 100%;
}

.welcome-img {
	background-image: url("../images/plantwoman.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.welcome-text-wrapper {
	padding: 0px 30px;
	display: flex;
	box-sizing: border-box;
	text-align: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	width: 75%;
}

.search-posts-container {
	height: 215px;
	margin: 30px auto;
	background: #6fc4e6;
}

.search-posts-container {
	display: flex;
	margin: auto;
	flex-direction: row;
	border-top: 1px solid green;
}

.searchbox-wrapper {
	width: 65%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.searchbox {
	width: 80%;
	text-align: center;
}

.searchbox-input {
	padding: 5px 50px;
}

.searchbox-img-wrapper {
	width: 35%;
	height: 100%;
}

.searchbox-img {
	background-image: url("../images/searchbox-plant.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100%;
}

/*
bloglist
*/

.post-header-container {
	width: 63vw;
	margin: 50px auto;
}

.post-header {
	font-size: 35px;
	text-align: left;
}

content-styling {
	background: #ffffff87;
	height: 100%;
	display: block;
	overflow: overlay;
}

.blog-list-container-wrapper {
	display: flex;
	overflow-y: auto;
	margin: auto;
	width: 70%;
	margin-bottom: 45px;
	padding: 0px 0px;
	flex-direction: column;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

::-webkit-scrollbar {
	display: none;
}

.blog-list-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	overflow-y: auto;
	margin: auto;
	width: 100%;
}

.blog-post {
	filter: grayscale();
	border: 6px solid whitesmoke;
	box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
	margin-bottom: 1rem;
	transition: filter 0.4s ease-in-out;
}

.blog-post:hover {
	transform: scale(1.1);
	filter: none;
	box-shadow: 2px 2px 10px 2px rgb(242 134 47 / 72%);
}

.blogtitle-list {
	font-size: 13px;
	position: relative;
}

.blogtitle-list::after {
	position: absolute;
	content: "";
	width: 0%;
	height: 4px;
	left: 50%;
	bottom: -10px;
	transition: all 0.4s ease-in-out;
}

.blog-post {
	border: 1px solid #000000;
	padding: 10px;
	padding-left: 0;
	margin: 20px auto;
	border-radius: 5px;
	background-position-y: center;
	background-size: cover;
	width: 40%;
	height: 100px;
	transition: 0.23s ease-in-out;
}

.blog-post-content {
	padding: 0;
	border-radius: 3px;
	text-align: left;
	width: 100%;
	margin: 0;
	background: #ffffffcf;
	font-size: 55%;
}

.date {
	text-align: right;
}

.viewmore-wrapper {
	text-align: center;
	margin: 30px auto;
}

#view-more-button {
	padding: 10px;
	background: white;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 5px 5px 7px 0px #0000007d;
	font-size: 21px;
	transition: 0.23s ease-in-out;
	width: 63vw;
}

#view-more-button:hover {
	transform: scale(1.1);
}

/*
Blogposts
*/

.blogpost-header {
	text-align: center;
}

.blogpost-wrapper {
	margin: 30px auto;
	width: 90vw;
	background: #ffffff;
	padding: 25px;
	border: 1px solid #4caf50;
	max-width: 930px;
}

.blogpost-summary-img-wrapper {
	display: flex;
	width: 100%;
	background-color: white;
	height: 300px;
	max-width: 920px;
}

.blogpost-summary-container {
	width: 50%;
	background: #889f6d;
	color: white;
	line-height: 1.5;
	display: flex;
	align-items: center;
	padding: 25px;
	font-size: 18px;
	margin: 10px;
}

.blogpost-img-container {
	width: 50%;
	margin: 10px;
}

.blogpost-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border: 1px solid rgb(0, 0, 0);
}

.blogpost-img-container :hover {
	transform: scale(1.1);
}
.blogpost-tagline-intro-wrapper {
	text-align: center;
}

.blogpost-intro {
	line-height: 1.2;
	font-weight: bold;
}

.blogpost-text {
}
.blogpost-imgs-wrapper {
	display: flex;
	height: 225px;
}

.blogpost-imgs-container {
	width: 33%;
	margin: 10px;
	height: 100%;
}

.blogpost-conclusion-container {
	text-align: center;
	margin: 19px auto;
	padding: 15px 0px;
	font-weight: bold;
	line-height: 1.3;
}

.card {
	margin: 0 auto;
	background: white;
	padding: 10px;
	border: 1px solid;
	box-shadow: 4px 3px 6px 2px #000000a6;
	box-sizing: border-box;
}

/*comments*/

.comment {
	text-align: center;
	border-bottom: 1px solid black;
}

.comment-content-wrapper {
	display: flex;
	width: 80vw;
	margin: 45px auto;
	height: 160px;
}

.post-comment-container {
	width: 60%;
}

.comment-container {
	height: 100%;
	width: 40%;
	margin: 0px 15px;
}

#comment-form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.comment-input-wrapper {
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	padding: 10px 0px;
	justify-content: center;
}

.comment-form-input {
	padding: 5px;
}
.personalia-comment-form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
}

.comment-text-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
}

.comment-text {
	resize: vertical;
}

@media (min-width: 768px) {
	.arrow-container {
		display: block;
	}
}

/*
CONTACT
*/

.contactform-wrapper {
	text-align: center;
	margin: 40px auto;
}

#contactForm {
	padding: 20px 0px;
	width: 50vw;
	margin: auto;
	background: white;
	border: 2px solid;
	border-style: groove;
}

.contact-rows {
	display: flex;
	width: 100%;
	align-items: stretch;
}

.contact-info {
	width: 50%;
}

.contact-msg {
	width: 50%;
}

#message {
	width: 90%;
	height: 70%;
	resize: none;
}

@media screen and (max-width: 600px) {
	.welcome-wrapper {
		height: 450px;
		flex-direction: column;
	}

	.welcome-img-container {
		width: 100%;
		height: 100%;
	}
	.welcome-text-wrapper {
		padding: 0px 30px;
		display: inline;
		width: 100%;
	}

	.searchbox-wrapper {
		width: 65%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	/*
	BLOGLIST
	*/
	.blog-post {
		width: 100%;
		filter: none;
	}

	/*
	BLOGPOST
	*/
	.blogpost-summary-img-wrapper {
		width: 100%;
		height: 100%;
		flex-direction: column-reverse;
	}

	.blogpost-summary-container,
	.blogpost-img-container {
		width: 100%;
	}

	.blogpost-text-container {
		text-align: center;
	}

	.blogpost-imgs-container {
		width: 100%;
	}

	.blogpost-imgs-wrapper {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: fit-content;
	}

	.comment-content-wrapper {
		width: 100vw;
		height: 100%;
		flex-direction: column;
	}

	.post-comment-container {
		width: 100%;
	}

	.comments-container {
		margin: 10px;
	}
}
