/*INDEX*/

.page-header {
	text-align: center;
	margin: 30px auto;
}

.soilmate-hello {
	text-align: center;
	margin: 50px auto;
	width: 65%;
}

.blog-list-container-wrapper {
	height: 515px;
    box-sizing: border-box;
    overflow-y: auto;
    border: 1px solid black;
    padding: 5px;
	background:#f9f7f5;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;
}

.blog-list-container-wrapper::-webkit-scrollbar {
	display: none;
  }

.blog-post {
	border: 1px solid black;
    padding: 15px;
    margin: 10px 0px;
}

.blog-post-content {
	background: white;
    padding: 10px 5px;
    border-radius: 3px;
}

.blogindex-title {
	font-size: 20px;
}

@media (min-width: 768px) {
	.arrow-container {
		display: block;
	}
}

@media screen and (max-width: 600px) {
}
