/*INDEX*/

.page-header-container {
	text-align: center;
	margin: 20px auto;
}

.page-text-container {
	text-align: center;
	margin: auto;
}

.welcome-wrapper {
	background-color: rgba(242, 158, 72, 0.9);
	margin: 0;
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.welcome-img-container {
	width: 35%;
	height: 100%;
}

.welcome-img {
	background-image: url("../images/plantwoman.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.welcome-text-wrapper {
	padding: 0px 30px;
	display: flex;
	box-sizing: border-box;
	text-align: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	width: 75%;
}

.about-link-wrapper {
	margin: 20px auto;
	font-weight: bold;
}

.search-posts-container {
	display: flex;
	height: 215px;
	margin: 0 auto;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.searchbox {
	text-align: center;
	margin: auto;
}

.searchbox-input {
	padding: 5px 50px;
	border: 1px solid;
	box-shadow: 4px 3px 6px 2px #000000a6;
}

/*
bloglist
*/

.post-header-container {
	width: 63vw;
	margin: 50px auto;
}

.post-header {
	font-size: 35px;
	text-align: left;
}

content-styling {
	background: #ffffff87;
	height: 100%;
	display: block;
	overflow: overlay;
}

.blog-list-container-wrapper {
	display: flex;
	overflow-y: auto;
	margin: auto;
	width: 75%;
	margin-bottom: 45px;
	padding: 0px 0px;
	flex-direction: column;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.blog-list-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	overflow-y: auto;
	margin: auto;
	width: 100%;
}

.blog-post {
	border: none;
	padding: 5px;
	margin: 20px auto;
	border-radius: 5px;
	background-position-y: center;
	background-size: cover;
	width: 45%;
	height: 120px;
	filter: grayscale();
	box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
	transition: all 0.4s ease-in-out;
}

.blog-post:hover {
	transform: scale(1.1);
	filter: none;
	box-shadow: 2px 2px 10px 2px rgb(242 134 47 / 72%);
}

.blogtitle-list {
	font-size: 13px;
	position: relative;
	margin: 0;
}

.blogtitle-list::after {
	position: absolute;
	content: "";
	width: 0%;
	height: 4px;
	left: 50%;
	bottom: -10px;
	transition: all 0.4s ease-in-out;
}

.blogpost-stylingwrapper {
	background: #ffffffcf;
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	align-content: space-between;
}

.index-headers {
	display: flex;
	align-items: flex-start;
	margin: 0;
	width: 100%;
	justify-content: space-between;
}

.blog-post-content {
	padding: 0;
	border-radius: 3px;
	width: 100%;
	margin: 0;
	font-size: 70%;
}

.date {
	text-align: right;
	margin: 0;
}

.viewmore-wrapper {
	text-align: center;
	margin: 30px auto;
}

#view-more-button {
	padding: 10px;
	background: white;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 5px 5px 7px 0px #0000007d;
	font-size: 21px;
	transition: 0.23s ease-in-out;
	width: 55vw;
}

#view-more-button:hover {
	transform: scale(1.1);
}

/*
Blogposts
*/

.blogpost-header {
	text-align: center;
	background-color: #ffffffbd;
}

.blogpost-wrapper {
	margin: 30px auto;
	width: 90vw;
	background: #ffffff;
	padding: 25px;
	border: 1px solid #4caf50;
	max-width: 930px;
}

.blogpost-summary-img-wrapper {
	display: flex;
	width: 100%;
	background-color: white;
	height: 300px;
	max-width: 920px;
}

.blogpost-summary-container {
	width: 50%;
	background: #889f6d;
	color: white;
	line-height: 1.5;
	display: flex;
	align-items: center;
	padding: 25px;
	font-size: 18px;
	margin: 10px;
}

.blogpost-img-container {
	width: 50%;
	margin: 10px;
	transition: 0.23s ease-in-out;
}

.blogpost-img-container :hover {
	filter: hue-rotate(75deg);
	transition: 0.23s ease-in-out;
	cursor: pointer;
}

.blogpost-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border: 1px solid rgb(0, 0, 0);
}

.blogpost-tagline-intro-wrapper {
	text-align: center;
}

.blogpost-intro {
	line-height: 1.6;
	margin-bottom: 35px;
}

.blogpost-imgs-wrapper {
	display: flex;
	height: 225px;
}

.blogpost-imgs-container {
	width: 33%;
	margin: 10px;
	height: 100%;
}

.blogpost-conclusion-container {
	text-align: center;
	padding: 15px 0px;
	line-height: 1.7;
	margin-top: 40px;
}

.card {
	margin: 0px 5px;
	background: white;
	padding: 10px;
	border: 1px solid;
	box-shadow: 4px 3px 6px 2px #000000a6;
	box-sizing: border-box;
}

/*comments*/

.submit-comment-btn {
	padding: 10px 15px;
	background-color: #3e5f32;
	border: none;
	color: white;
	text-transform: uppercase;
	min-width: 155px;
	border-radius: 2px;
	letter-spacing: 0.2px;
	margin: auto;
}

/*comments*/

.comment {
	border-bottom: 1px solid black;
	display: flex;
	justify-content: space-around;
}

.comment-section {
	display: flex;
	max-width: 940px;
	width: 90vw;
	margin: 45px auto;
	height: 215px;
}

.add-comment-box {
	width: 60%;
}

.comment-container {
	height: 100%;
	width: 40%;
	margin: 0px 15px;
}

.view-comments-box {
	width: 40%;
	font-size: 14px;
}

.view-comments-box p {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70%;
}

#comment-form {
	margin: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
}

.comment-input-wrapper {
	display: flex;
	flex-direction: row;
	padding: 5px 0px;
	justify-content: space-evenly;
	width: 100%;
	align-items: flex-start;
}

.comment-form-input {
	padding: 7px;
	margin: 5px 0px 10px 0px;
}

.personalia-comment-form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
	margin: 0;
}

.comment-text-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 50%;
}

.comment-text {
	resize: none;
	height: 101px;
	width: 100%;
}

.comment-btn-container {
	display: flex;
	justify-content: flex-start;
	padding: 5px 30px;
	max-width: 530px;
	width: 100%;
}

@media (max-width: 600px) {
	.comment-section {
		width: 100vw;
		height: 100%;
		flex-direction: column;
	}
	.add-comment-box {
		width: 90%;
		margin: auto;
	}

	.comment-input-wrapper {
		flex-direction: column;
		padding: 10px 30px;
	}

	.personalia-comment-form {
		align-items: center;
		width: 100%;
	}

	.comment-form-input {
		padding: 7px;
		width: 100%;
		margin: 10px auto;
	}

	.comment-text-container {
		width: 100%;
	}

	.view-comments-box {
		width: 90%;
		max-height: 150px;
		margin: 10px auto;
		overflow: scroll;
	}

	.comment-btn-container {
		justify-content: center;
	}
}

@media (min-width: 545px) {
	.arrow-container {
		display: block;
	}

	.comment-btn-container {
		display: flex;
		justify-content: flex-start;
		padding: 5px 30px;
		max-width: 530px;
		width: 100%;
	}
}

/*
ABOUT
*/

.story-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #f3c971;
	height: 60vh;
}

.bgr-wrapper {
	background-image: url("../images/plantcrown.png");
	width: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100%;
}

.story-text-wrapper {
	width: 50%;
	padding: 0px 15px;
	height: 100%;
}

.story-text {
	line-height: 1.5;
}

.about-us-container {
	background-color: white;
	width: 100%;
	margin: 30px auto;
	padding: 20px 20px;
	border: 1px solid;
}

.about-us-text {
	line-height: 1.5;
}

@media (max-width: 750px) {
	.story-container {
		height: 810px;
		flex-direction: column;
		border-bottom: 1px solid;
		background-color: #ecc163;
	}

	.story-text-wrapper {
		padding: 0px 30px;
		display: inline;
		width: 100%;
		height: 65%;
	}

	.bgr-wrapper {
		width: 100%;
		height: 35%;
	}
}

/*
CONTACT
*/

.header-container {
	text-align: center;
	font-weight: 400;
}

.contactform-wrapper {
	text-align: center;
	margin: 40px auto;
}

#contactForm {
	padding: 20px 0px;
	width: 50vw;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 2px;
}

.contact-rows {
	display: flex;
	width: 100%;
	align-items: stretch;
}

.contact-info {
	width: 50%;
}

.contact-msg {
	width: 50%;
}

#message {
	width: 90%;
	height: 70%;
	resize: none;
}

@media (max-width: 500px) {
	#contactForm {
		padding: 20px 5px;
		width: 95vw;
	}
}

@media screen and (max-width: 600px) {
	.content-container {
		background-size: contain;
	}

	.welcome-wrapper {
		height: 450px;
		flex-direction: column;
	}

	.welcome-img-container {
		width: 100%;
		height: 100%;
	}
	.welcome-text-wrapper {
		padding: 0px 30px;
		display: inline;
		width: 100%;
	}

	.searchbox-wrapper {
		width: 65%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.searchbox-input {
		padding: 5px 15px;
		text-align: center;
		margin: 5px auto;
	}

	/*
	BLOGLIST
	*/
	.blog-post {
		width: 100%;
		filter: none;
		margin: 20px 35px;
	}

	@media screen and (max-width: 600px) {
		.blog-list-container-wrapper {
			width: 90%;
		}
	}

	/*
	BLOGPOST
	*/
	.blogpost-summary-img-wrapper {
		width: 100%;
		height: 100%;
		flex-direction: column-reverse;
	}

	.blogpost-summary-container,
	.blogpost-img-container {
		width: 100%;
	}

	.blogpost-text-container {
		text-align: center;
	}

	.blogpost-imgs-container {
		width: 100%;
	}

	.blogpost-img {
		max-height: 195px;
	}

	.blogpost-imgs-wrapper {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: fit-content;
	}
}

@media screen and (max-width: 350px) {
	.searchbox-input {
		width: 100%;
	}
}
